:root {
  --RED: #fae23d;
  --WHITE: #ffffff;
  --BACKGROUNDTRANSPARENCY: #c4c9cc23;
  --DARKERBACKGROUNDTRANSPARENCY: #131c27bd;
  --BAD: #fa3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* makes 1rem 10px */
  height: 100%;
}

body {
  font-size: 1.6em; /* default font of 16px */
  font-family: "Share Tech Mono", monospace;
  line-height: 1.3;
  color: var(--WHITE);
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

/* fonts */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.203);
}

h3 {
  font-size: 2rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.203);
}

h4,
li,
label,
input,
textarea,
select,
p {
  font-size: 1.8rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.203);
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

ol,
ul {
  padding-left: 2em;
}
