.RollButton {
  width: 100%;
  height: 22rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.2s ease 0s;
  position: relative;
}

.RollButton img {
  height: 9rem;
  width: 9rem;
  margin-bottom: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.RollButton img:hover {
  transform: scale(1.08);
}
